body
{
    background-image: linear-gradient(rgb(0, 0, 100), rgb(109, 109, 179));
    height: 100vh;
}
#container
{
    background-color: white;
    width: 100%;
    margin: auto;
}
#search-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
input
{
    width: 50%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 36px;
    border: 2px solid black;
    border-radius: 20px;
}
#search-image
{
    width: 70px;
    height: 70px;
    margin: 10px;
}
#add-food
{
    width: 125px;
    height: 70px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
#food-menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.food-data
{
    background-color: red;
    border: 2px solid green;
    margin: 10px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}
.food-img
{
    border-radius: 22px;
    width: 100%;
}